<!DOCTYPE html>
<html lang="pl">

</html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodaj temat pracy dyplomowej</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="/js/form_validation.js"></script>
</head>

<body>

    {{>header_dashboard}}
    <div class="main">
        <h1>Dodawanie tematu pracy dyplomowej</h1>
        <div class="main__msg-box" id="errorDisplay">
            <p class="main__msg-box-msg">{{msg}}</p>
            <p class="main__msg-box-err">{{err_msg}}</p>
        </div>

        <form class="add-topic__form" name="add_topic_form" method="POST" action="/topic"
            onsubmit="return validateRegisterForm()">
            <p>Temat pracy:</p>
            <input type="text" name="title" placeholder="Tytuł pracy dyplomowej 10-100 słów" required>

            <p>Opis pracy:</p>
                <textarea name="description" placeholder="Opis pracy dyplomowej 20-1000 znaków" rows="4"
                    required></textarea>
                <input type="hidden" name="author" value="Janusz Korwin-Mikke">
            <div class="add-topic__form-radiobox">
                <input type="radio" name="level" value="engineer" checked="checked" class="add-topic__form-radiobox-dot"
                    required>
                <label for="engineer">Inżynier</label>
            </div>
            <div class="add-topic__form-radiobox">
                <input type="radio" name="level" value="master" class="add-topic__form-radiobox-dot" required>
                <label for="master">Magister</label>
            </div>


            <input type="submit" name="" value="Dodaj temat pracy">
        </form>
    </div>

    {{>footer}}
</body>

</html>