<!DOCTYPE html>
<html lang="pl"></html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">


</head>
<body>
    {{#if logged}}
    {{>header_dashboard}}
    {{else}}
    {{>header}}
    {{/if}}
    <div class="main">
        {{#each post}}
        <div class="main__post">
            <div class="main__post-title">{{this.title}}</div>
            <div class="main__post-news">Nowy temat</div>
            <div class="main__post-paragraph">{{this.description}}</div>
            <div class="main__post-date">{{this.createdAt}}</div>
        </div>
        {{/each}}
        <div class="main__post">
            <h2 class="main__post-title">Lorem ipsum dolor sit amet.</h2>
            <div class="main__post-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat congue lorem, vitae molestie dolor bibendum eu. Phasellus eu lacus ac tortor tincidunt ullamcorper id in ante. Integer maximus mauris ut eros interdum posuere. Phasellus lobortis dui at volutpat facilisis. Nunc ipsum massa, venenatis a arcu a, tempus pharetra elit. Sed a elit eget orci pharetra scelerisque. Morbi ut venenatis lorem, eu placerat libero.
            </div>
            <div class="main__post-paragraph">
                Nam nunc lacus, tristique ac blandit non, laoreet euismod neque. Maecenas viverra commodo facilisis. Duis nibh elit, egestas nec bibendum et, malesuada dictum ante. Aliquam sit amet diam porttitor, accumsan quam tincidunt, dictum augue. Aliquam enim nunc, placerat sit amet erat vitae, lobortis posuere justo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis eget pellentesque dui, at finibus neque. Quisque sit amet porta velit.
            </div>
        </div>
        <div class="main__post">
            <div class="main__post-title">Aenean eu ex maximus</div>
            <div class="main__post-paragraph">
                Aenean eu ex maximus, faucibus ipsum sit amet, dignissim ante. Quisque scelerisque turpis lobortis arcu ultricies, at euismod nunc condimentum. Quisque in sem quam. Duis sed dui at turpis tincidunt congue. Cras convallis vehicula lorem a eleifend. Curabitur quis urna non libero sodales vulputate quis vitae mauris. Pellentesque ac placerat nibh.
            </div>
            
        </div>
    </div>
</body>
</html>