<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zaloguj</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>

<body>
    {{>header}}
    <div class="main main--bgc-off">
        <div class="main__loginbox">
            <img src="/img/avatar.png" class="main__loginbox-avatar-img">
            <h2 class="main__loginbox-title">Logowanie</h2>
            {{>msg_box_login}}
            <form method="POST" action="/users/login">
                <p class="main__loginbox-p">E-mail</p>
                <input type="text" name="email" placeholder="Podaj email" class="main__loginbox-input">
                <p class="main__loginbox-p">Hasło</p>
                <input type="password" name="password" placeholder="Podaj hasło" class="main__loginbox-input">
                <input type="submit" name="" value="Zaloguj" class="main__loginbox-submit">

            </form>
            <a href="/" class="main__loginbox-link">Zapomniałeś hasła? </a>

            <a href="/register" class="main__loginbox-link">Nie masz jeszcze konta? </a>

        </div>
    </div>



</body>

</html>