<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zaloguj</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body>
    {{>header}}
        <div class="loginbox">
            <img src= "img/avatar.png" class= "loginbox__avatar-img">
            <h1>Login Here</h1>
            <form>
                <p>E-mail</p>
                <input type="text" name="" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <a href="#">Lost your password? </a><br>
                <a href="">Don't have an account? </a>
            </form>
        </div>
    {{>footer}}
    
</body>
</html>