<!DOCTYPE html>
<html lang="pl">

</html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dodaj temat pracy dyplomowej</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="/js/form_validation.js"></script>
</head>

<body>

    {{>header}}
        <div class="main">
        <div class="main__overview">
            <h2>Tytuł pracy dyplomowej: {{title}} </h2>
            <h3>Opis pracy dyplomowej:</h3>
            <p>{{description}}</p>
            <p>Poziom pracy dyplomowej:</p>
            {{level}}
            <p>Status:</p>
            <p>Temat wolny: {{status}}</p>
        </div>
    </div>
    {{>footer}}
</body>

</html>