<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        
    </style>
</head>

<body>
    {{>header}}
    <div class="main">
        <div class="main__promotor-panel">
            <div class="main__promotor-panel-btnbox">
                <form action="/topic">
                    <input type="submit" value="Dodaj nowy temat">
                </form>

                <form action="/list">
                    <input type="submit" value="Lista tematów">
                </form>

                <form action="/users/update_profile" method='get'>
                    <input type="submit" value="Aktualizuj profil">
                </form>

                <form action="/users/logout" method='post'>
                    <input type="submit" value="Wyloguj">
                </form>

                <form action="/users/remove" method='post'>
                    <input type="submit" value="Usuń konto">
                </form>
            </div>
            <div class="main__promotor-panel-user-data">

            </div>
        </div>



    </div>

    {{>footer}}
</body>

</html>