<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        .elo{
            margin-left: 200px;
        }
    </style>
</head>
<body>
    {{>header}}
    <div class="main">
        <form action="/topic" class="elo">
            <label for="">Dodaj temat</label>
                <input type="submit" value="Dodaj temat">
        </form>
        
        <form action="/list" class="elo">
            <label for="">Wyszukaj temat</label>
                <input type="submit" value="Wyszukaj">
        </form>
        
    </div>
    
    {{>footer}}
</body>
</html>