<!DOCTYPE html>
<html lang="pl"></html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <script src="/js/form_validation.js"></script>
</head>

<body>

    {{>header}}
    <div class="loginbox">
        <img src="/img/avatar.png" class="loginbox__avatar-img">
        <h1>Register Here</h1>
        <div id="errorDisplay" class="loginbox__errorDisplay"></div>
        <form name="register_form" method="POST" action="/users" onsubmit="return validateRegisterForm()">
            <p>Imie i nazwisko</p>
            <input type="text" name="name" placeholder="Imie i nazwisko" required>
            <p>Numer albumu</p>
            <input type="text" name="album" placeholder="Numer albumu" required>
            <p>E-mail</p>
            <input type="text" name="email" placeholder="E-mail" required>
            <p>Hasło</p>
            <input type="password" name="password" placeholder="Hasło" required>
            <p>Potwierdź hasło</p>
            <input type="password" name="rep_password" placeholder="Hasło" required> 
            <input type="submit" name="" value="Zarejestruj">
        </form>
    </div>

    {{>footer}}
</body>

</html>