<!DOCTYPE html>
<html lang="pl">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext" rel="stylesheet">

</head>

<body>

    {{>header}}
    <div class="main main--bgc-off">
        <div class="main__loginbox">
            <img src="/img/avatar.png" class="main__loginbox-avatar-img">
            <h2 class="main__loginbox-title">Rejestracja</h2>
            {{>msg_box_login}}
            <form name="register_form" method="POST" action="/users" onsubmit="return validateRegisterForm()">
                <p class="main__loginbox-p">Imie i nazwisko</p>
                <input type="text" name="name" placeholder="Imie i nazwisko" class="main__loginbox-input" required>
                <p class="main__loginbox-p">Numer albumu</p>
                <input type="text" name="album" placeholder="Numer albumu" class="main__loginbox-input" required>
                <p class="main__loginbox-p">E-mail</p>
                <input type="text" name="email" placeholder="E-mail" class="main__loginbox-input" required>
                <p class="main__loginbox-p">Hasło</p>
                <input type="password" name="password" placeholder="Hasło" class="main__loginbox-input" required>
                <p class="main__loginbox-p">Potwierdź hasło</p>
                <input type="password" name="rep_password" placeholder="Hasło" class="main__loginbox-input" required>
                <input type="submit" name="" value="Zarejestruj" class="main__loginbox-submit">
            </form>
        </div>

    </div>

    
    <script src="/js/form_validation.js"></script>
</body>

</html>