<td class="main__table-element">
                            <form action="/topic/book" method="post" class="main__table-element-btn">
                        <input type="hidden" value="{{this._id}}" name="topicID">

                        <button class="main__table-element-btn-submit main__table-element-btn-submit--green"
                            type="submit">

                            Rezerwuj
                        </button>
                    </form>
</td>