<td class="main__table-element">
    <form action="/topic/edit/page" method="post" class="main__table-element-btn">
        <input type="hidden" value="{{this._id}}" name="topicID">
        <button class="main__table-element-btn-submit main__table-element-btn-submit--blue" type="submit">
            Edytuj
        </button>
    </form>
</td>