<div class="header">
        <div class="header__form">
            <form action="/" class="header__form-logo">
                <input type="image" src="/img/logo.png" alt="Logo Politechniki" class="header__form-logo-img">
            </form>
            
        </div>
        <div class="header__btnbox">
            
            {{!-- <form action="/topic" class="header__btnbox-btn">
                    <input type="submit" value="Dodaj nowy temat">
                </form> --}}
                <div class="header__btnbox-btn">
                    <a href="/topic" class="header__btnbox-btn-link">Dodaj nowy temat</a>
                </div>
                

                {{!-- <form action="/list" class="header__btnbox-btn">
                    <input type="submit" value="Lista tematów">
                </form> --}}
                <div class="header__btnbox-btn">
                    <a href="/list" class="header__btnbox-btn-link">Lista tematów</a>
                </div>
                

                <form action="/users/logout" method='post' class="header__btnbox-btn">
                    <input type="submit" value="Wyloguj" class="header__btnbox-btn-submit">
                </form>
                
        </div>
    </div>