<div class="header">
        <div class="header__logo">
            <img src="/img/logo.png" alt="Politechnika Rzeszowska" class="header__logo-img">
        </div>
        <div class="header__btn-box">
            
            <h3>{{title}}</h3>

        </div>
    </div>