<div class="header">
        <div class="header__form">
            <form action="/" class="header__form-logo">
                <input type="image" src="/img/logo.png" alt="Logo Politechniki" class="header__form-logo-img">
            </form>
            
        </div>
        <div class="header__btn-box">
            
            <form action="/topic" class="header__btn-box-btn">
                    <input type="submit" value="Dodaj nowy temat">
                </form>

                <form action="/list" class="header__btn-box-btn">
                    <input type="submit" value="Lista tematów">
                </form>

                <form action="/users/logout" method='post' class="header__btn-box-btn">
                    <input type="submit" value="Wyloguj">
                </form>

                <form action="/users/remove" method='post' class="header__btn-box-btn">
                    <input type="submit" value="Usuń konto">
                </form>

        </div>
    </div>