<div class="header">
        <div class="header__logo">
            <img src="/img/logo.png" alt="Politechnika Rzeszowska" class="header__logo-img">
        </div>
        <div class="header__btn-box">
            
            <form action="/login" class="header__btn-box-btn">
                <input type="submit" value="Zaloguj">
            </form>

            <form action="/register" class="header__btn-box-btn">
                <input type="submit" value="Zarejestruj">
            </form>
            
            
        </div>
    </div>