<div class="header">
        <div class="header__form">
            <form action="/" class="header__form-logo">
                <input type="image" src="/img/logo.png" alt="Logo Politechniki" class="header__form-logo-img">
            </form>
            
        </div>
        <div class="header__btn-box">
            
            <form action="/login" class="header__btn-box-btn">
                <input type="submit" value="Zaloguj">
            </form>

            <form action="/register" class="header__btn-box-btn">
                <input type="submit" value="Zarejestruj">
            </form>

            <form action="/panel" class="header__btn-box-btn">
                <input type="submit" value="Panel użytkownika">
            </form>
            
            
        </div>
    </div>