body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(./img/home-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left bottom;
}

/* Heaer */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #003c82;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__form-logo-img {
  height: 80px;
  padding: 5px;
}

.header__btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
}

.header__btn-box-btn {
  margin: 0 5px;
  color: wheat;
  padding: 10px;
  border: 1px black solid;
  border-radius: 15%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  background-color: #0b61c4;
}

.header__btn-box-btn:hover {
  background-color: #498fdf;
  cursor: pointer;
}

/* Main */
.main {
  background-color: rgba(255, 255, 255, 0.5);
  padding-top: 60px;
  min-height: 100vh;
  margin-top: 80px;
  width: 100%;
}

.main__post {
  padding: 20px 5px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
}

.main__post-title {
  font-weight: 700;
  font-size: 1.5rem;
}

.main__post-paragraph {
  font-size: 1.2rem;
  text-align: justify;
}

.main__overview {
  padding: 20px 5px;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  background: #3c4245;
  color: white;
  border-radius: 15px;
  padding: 10px 20px;
}

.main__overview h2 {
  margin: 0;
  padding: 0 0 20px;
  font-size: 2rem;
}

/* Footer */
.footer {
  background-color: #003c82;
  width: 100%;
  height: 75px;
  position: fixed;
  bottom: 0;
}

.footer .footer__copyright {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.loginbox {
  width: 320px;
  height: 420px;
  border-radius: 5%;
  background: #3c4245;
  color: #fff;
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 30px;
}

.loginbox__avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type='text'],
.loginbox input[type='password'],
.loginbox input[type='textarea'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  background: #979797;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.loginbox input[type='submit']:hover {
  cursor: pointer;
  background-color: #003c82;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.loginbox a:hover {
  color: #ffc107;
}

.add-topic {
  padding: 20px 0;
  margin-top: 200px;
  border-radius: 15px;
  background: #3c4245;
  color: #fff;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.add-topic__form {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.add-topic__form input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 5px;
}

.add-topic__form textarea {
  margin-bottom: 20px;
  padding: 10px 5px;
  width: 100%;
}

.add-topic__form-radiobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.add-topic__form-radiobox-dot {
  width: 20px !important;
}

h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox {
  width: 400px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 2%;
  background: #3c4245;
  color: #fff;
  top: 50%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 70px 30px;
}

.loginbox__avatar-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: fixed;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox__errorDisplay {
  color: #b83131;
  font-size: 1rem;
  text-align: center;
  padding: 15px 0;
}

.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type='text'],
.loginbox input[type='password'] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.loginbox input[type='submit'] {
  border: none;
  outline: none;
  height: 40px;
  background: #979797;
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
}

.loginbox input[type='submit']:hover {
  cursor: pointer;
  background-color: #003c82;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
}

.loginbox a:hover {
  color: #ffc107;
}
/*# sourceMappingURL=style.css.map */